.bar-1 .menu-horizontal>li>.dropdown__trigger, .bar-1 .menu-horizontal>li>.link_color_blue {
    opacity: 1;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 5.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #3D3A67;
    border: none;
    height: 0;
    position: relative;
    height: 67px;
    letter-spacing: 0.2px;
    &:hover {
        opacity: 0.5;
    }
    span { 
      position: absolute;
      top: 13px;
      right: -36px;
      width: 37px;
    }
    @media (max-width: 767px) {
        right: 0;
        left: 4rem;
        line-height: 1rem;
    }
}

.link {
  &__arrow {
    width: 12px;
  }
}

.res-dropdown {
    z-index: 100;
    display: none;
    background-color: white;
    width: 11rem;
    position: absolute;
    top: 55px;
    left: -27px;
    right: 0;
    box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2), 0 0px 10px rgba(0,0,0,0.05);
    border-radius: 0.3rem;
    a {
        color: #7E7AA1;
        display: block;
        padding: 10px 20px 10px 16px;
        border-bottom: solid 1px #eee;
        &:hover {
            color: #3e396b;
            background-color: #f9f9f9;
        }
    }
    @media (max-width: 989px) {
        right: 0;
        left: 4rem;
    }
    @media (max-width: 767px) {
        left: 8rem;
        top: 2rem;
    }
}
.hamburger-toggle {
    position: relative;
    bottom: -27px;
}

.navbar {
  &__first-col, &__second {
    position: relative;
  }
  &__btn-right {
    position: absolute;
    right: 0;
    top: 19px;
    font-size: 12px;
    font-family: 'HelveticaNeueCyr Bold';
    width: 163px;
    height: 45px;
    background-color: white;
    &._border_blue {
      border: 1px solid #5075DD;
      border-radius: 3px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      color: #5075DD;
    }
  }
  &__link {
    position: absolute;
    top: 15px;
    left: 0;
    right: -30px;
    margin: 0 auto;
    width: 80%;
  }
}

@media (min-width: 990px) and (max-width: 992px) {
  .hidden-991-1199 {
    display: none;
  }
}

@media (min-width: 1198px) and (max-width: 1200px) {
  .hidden-991-1199 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .navbar__first-col {
    display: none !important;
  }
}