.title {
    &_thin_white {
        font-weight: 400;
        color: white;
        padding: 0.4rem;
    }
}
.table {
    &_border_white_bg_transparent {
        display: block;
        border: 2px solid #fff;
		overflow: hidden;
        th, td {
            border-right: 2px solid #fff;
            background-color: transparent;
            color: #fff;
            font-weight: 400;
            text-align: center;
        }
        td {
            text-align: left;
            padding: 1rem 4rem 3rem 4rem;
            border-top: none;
        }
		&._screen_mobile {
			@media (min-width: 769px) {
				display: none
			}
		}
		&._screen_normal {
			@media (max-width: 768px) {
				display: none
			}
		}
    }
    &__cell-equal {
        width: 33.3333333333%;
        font-size: 1.4rem;
    }
    &__main-head {
        border-bottom: 2px solid #fff;
        font-size: 1.8rem;
    }
}
._no-pad {
    padding: 0 !important;
}
.btn--light-green {
    background-color: #24BD24;
    line-height: 1;
    border: none;
    @media (min-width: 1200px) {
        font-size: 1.3rem !important;
    }
    &._pad {
        padding: 0.5rem;
    }
}