@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

$blue: #0014dd;

a {
  text-decoration: none;
}

body {
  background: #f0f0f0 !important;
}

.br {
  @media (min-width: 992px) {
    display: block;
  }
}

ul {
  list-style-type: none;
}

.ck_form_container {
  display: none;
}

.fixed-width {
  background: #fff;
  @media (min-width: 1440px) {
    width: 1440px;
    margin: 0 auto;
  }
}

.main {
  overflow: hidden;
  font-family: Poppins;
  &_bg {
    position: absolute;
    left: -500%;
    right: -500%;
    bottom: 0px;
    margin-bottom: -79px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 769px) {
      display: none;
    }
    &--light-pink {
      background-image: linear-gradient(180deg, rgba(250, 239, 255, 0) 0%, rgba(243, 218, 255, 0.21) 100%), linear-gradient(to top, rgba(249, 238, 255, 0) 0%, rgba(250, 238, 255, 0.21) 100%);
    }
  }
  &_hero {
    height: auto;
    &--hauto {
      height: auto !important;
    }
    @media (min-width: 769px) {
      height: 100vh;
      margin-bottom: 79px;
    }
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom center;
    @media (max-width: 769px) {
      background-image: asset-data-url('index-new/mob-bg.png');
      background-position: 19% 100%;
      background-size: auto 84%;
      overflow: hidden;
    }
  }
}

//blocks

.recipes {
  position: relative;
  overflow: hidden;
  padding: 32px 18px 0;
  &.fixed {
    @media (min-width: 992px) {
      width: 255px;
      position: fixed;
      top: 0;
      @media (max-width: 1200px) {
        width: 210px;
      }
    }
  }
  @media (max-width: 992px) {
    padding: 32px 47px 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 85vh;
    width: 335px !important; 
    .letter {
      width: 100%;
    }   
    .recipes__chevron {
      display: block;
      transform: rotate(180deg);
      &._down {
        transform: none
      }
    }
    &._opened {
      bottom: 0;
      top: auto;
    }
  }
  &__success {
    text-align: center;
    line-height: 87px;
    color: $blue;
    display: none;
  }
  &__chevron {
    display: none;
    position: absolute;
    top: 7px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    height: 21px;
    color: #0014dd;
    font-size: 20px;
  }
  &__hello {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: $blue;
    span {
      font-weight: 700;
    }
  }
  .letter {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    right: 0;
    margin: auto;
    max-width: 100%;
  }
  &__title {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: $blue;
    span {
      font-weight: 700;
    }
  }
  &__form {
    height: 40px !important;
    font-size: 12px !important;
  }
  &__submit {
    display: block !important;
    margin: 7px auto;
    color: #fff;
    width: 136px;
    height: 40px;
    border-radius: 25px !important;
    background-image: linear-gradient(225deg, #002df0 0%, #0014dd 100%);
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  &__total {
    font-family: Poppins;
    padding-right: 16px;
    font-weight: 300;
    font-size: 14px;
    color: $blue;
    text-align: right;
    margin: 9px 0;
    span {
      font-weight: 700;
    }
  }
  &__separator {
    display: block;
    width: 100%;
    height: 1px;
    border: 1px dashed #0014dd;
    margin-top: 40px;
    margin-bottom: 30px;
    @media (min-width: 992px) and (max-width: 1200px) {
      margin-bottom: -17px
    }
  }
  &__list {
    padding: 0;
    width: 90%;
    margin-top: 32px;
    padding-right: 0;
    &.add-scroll {
      height: 139px;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 97%;
      padding-right: 10px;
      @media (min-width: 992px) and (max-width: 1200px) {
       height: 73px
      }
      &::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background-color: #f3f3f3;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-color: #b9bdea;
        border-radius: 40px
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background-color: $blue; 
      }
    }
    li {
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 300;
      color: $blue;
      line-height: 22px;
      padding-bottom: 6px;
      margin-top: 9px;
      border-bottom: 1px dashed #979797;
    }
  }
}
.tile {
  height: 360px;
  width: 100%;
  display: block;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  padding: 16px;
  position: relative;
  outline: 3px solid transparent;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  @media (max-width: 992px) {
    width: 270px;
    margin: 30px auto;
  }
  &--bg {
    &_red {
      background-image: asset-data-url('recipes/red.png');
    }
    &_pink {
      background-image: asset-data-url('recipes/pink.png');
    }
    &_green {
      background-image: asset-data-url('recipes/green.png');
    }
    &_orange {
      background-image: asset-data-url('recipes/orange.png');
    }
    &_gray {
      background-image: asset-data-url('recipes/gray.png');
    }
    &_blue {
      background-image: asset-data-url('recipes/blue.png');
    }
  }
  &.selected {
    &::before {
      opacity: 1;
      background-image: asset-data-url('recipes/icons/checkmark.png');
    }
    outline-color: #60c675;
    @media (min-width: 991px) {
      &:hover {
        &::before {
          opacity: 1;
          background-image: asset-data-url('recipes/icons/cross.png');
        }
        outline-color: #d0021b;
      }
    }
  }
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    position: absolute;
    top: -23px;
    right: -26px;
    background-size: 100% 100%;
    opacity: 0;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  @media (min-width: 991px) {
    &:hover:not(.selected) {
      &::before {
        opacity: 1;
        background-image: asset-data-url('recipes/icons/plus.png');
      }
      outline-color: $blue;
    }
  }
  &__title {
    color: $blue;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 21px
     }
  }
  &__icons {
    position: absolute;
    bottom: 6px;
    right: 9px;
  }
  &__group {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    width: 74%;
    @media (max-width: 1201px) and (min-width: 992px) {
      width: 87%;
    }
    @media (max-width: 768px) {
      width: 69%;
    }
  }
  &__btn {
    width: 88px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    text-decoration: none;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 0.89px;
    font-family: 'Roboto', sans-serif;
    float: right;
    pointer-events: none;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
    &--bgc {
      &_red {
        background-color: #fdd8dd;
        float: left;
      }
      &_pink {
        background-color: #f3daff;
        float: left;
      }
      &_green {
        background-color: #b0efd5;
        float: left;
      }
      &_orange {
        background-color: #ffeed3;
        float: left;
      }
      &_blue {
        background-color: #d7defc;
        float: left;
      }
      &_gray {
        background-color: #e1e7e9;
        float: left;
      }
    }
  }

}

.row {
  &.mar-top-30 {
    margin-top: 30px;
  }
  &.mar-top-93 {
    @media (min-width: 768px) {
      margin-top: 93px;
    }
  }
}

.form {
  width: 472px;
  margin: auto;
  position: relative;
  &--mob {
    width: 100%;
    margin: 23px auto;
    position: relative;
  }
  &__desc {
    font-size: 11px;
    font-weight: 300;
    color: $blue;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 0;
    &--mob {
      display: none;
    }
  }
  &__email {
    width: 472px;
    height: 65px;
    border-radius: 33px;
    background-color: #d4d8ff1f;
    color: #0014dd;
    font-weight: 300;
    font-size: 14px;
    border: none;
    padding: 0 180px 0 26px;
    &--mob {
      display: block;
      margin: auto;
      width: 100%;
      height: 50px;
      border-radius: 33px;
      background-color: #d4d8ff1f;
      color: #0014dd;
      font-weight: 300;
      font-size: 14px;
      border: none;
      padding: 0 20px;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: #0014dd;
        font-weight: 300;
        font-size: 14px;
      }
      &:-ms-input-placeholder {
        color: #0014dd;
        font-weight: 300;
        font-size: 14px;
      }
      &::-moz-placeholder {
        color: #0014dd;
        font-weight: 300;
        font-size: 14px;
      }
      &:-moz-placeholder {
        color: #0014dd;
        font-weight: 300;
        font-size: 14px;
      }
    }
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: #0014dd;
      font-weight: 300;
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      color: #0014dd;
      font-weight: 300;
      font-size: 14px;
    }
    &::-moz-placeholder {
      color: #0014dd;
      font-weight: 300;
      font-size: 14px;
    }
    &:-moz-placeholder {
      color: #0014dd;
      font-weight: 300;
      font-size: 14px;
    }
  }
  &__btn {
    width: 160px;
    height: 50px;
    border-radius: 25px !important;
    background-image: linear-gradient(225deg, #002df0 0%, #0014dd 100%);
    color: #fff;
    position: absolute;
    top: 8px;
    right: 9px;
    &--mob {
      display: block !important;
      margin: 20px auto;
      color: #fff;
      width: 232px;
      height: 50px;
      border-radius: 25px !important;
      background-image: linear-gradient(225deg, #002df0 0%, #0014dd 100%);
    }
  }
}

.cr-footer {
  background-image: asset-data-url('index-new/footer-bg.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 102px;
  &__logo {
    width: 149px;
    height: 26px;
    margin: 38px auto 20px;
    display: block;
    max-width: 100%;
  }
  &__text {
    color: $blue;
    font-size: 13px;
    font-weight: 300;
  }
  .container {
    height: 100%;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#navbarToggler2 {
  position: absolute;
  overflow: hidden;
  top: 9px;
  left: 0;
  right: 0;
  margin: auto;
  width: 102%;
  height: 437px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.navbar-brand {
  @media (max-width: 321px) {
    margin-right: 0 !important;
  }
}

.navbar-toggler {
  border: none !important;
  background-size: 80% 80% !important;
  transform: translateY(2px);
  &:focus {
    border: none !important;
    outline: none !important;
  }
  &.position {
    transform: translate(20px, 2px);
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: asset-data-url('index-new/hamburger-menu.svg') !important;
  &.close {
    background-image: asset-data-url('index-new/close-btn.svg') !important;
    background-size: 39% 32% !important;
    opacity: 1 !important;
  }
}

.cr-navbar {
  z-index: 3;
  position: relative;
  &--oval {
    position: absolute;
    top: -89px;
    right: -38px;
    z-index: 1;
    &--mob {
      position: absolute;
      top: -89px;
      right: -244px;
      z-index: 1;
    }
  }
  &__link {
    color: $blue !important;
    font-weight: 300 !important;
    font-size: 14px !important;
  }
  &__btn {
    width: 160px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #fff;
    color: $blue !important;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border: 2px solid transparent;
    &:hover {
      color: $blue;
      text-decoration: none;
      border: 2px solid $blue;
    }
    &:focus {
      outline: none;
    }
  }
  &__dropdown {
    border: none !important;
    background-color: transparent !important;
    background-image: asset-data-url('index-new/dropdown-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 12px 0 10px !important;
    left: -27px !important;
    right: 0;
    margin: auto !important;
    width: 153px;
    top: 30px !important;
    a {
      font-size: 14px;
      font-weight: 300;
      color: $blue;
      opacity: 0.71;
      &:hover {
        opacity: 1;
        color: $blue;
        background-color: transparent;
      }
    }
  }
}

.content {
  z-index: 2;
  position: relative;
  &.pad-90-0-50 {
    padding: 90px 0 50px;
  }
  section {
    position: relative;
  }
  &__request-access {
    background: rgba(151, 151, 151, 0.2);
    border-radius: 50px;
    width: 630px;
    height: 57px;
    margin: 38px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-section {
      display: flex;
      width: calc(100% - 232px);

      .text-field {
        width: calc(100% - 40px);
        margin-left: 30px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        background: transparent;
        border: none;
        outline: none;
        z-index: 4;

        ::placeholder {
          color: #9b9b9b;
        }
      }
    }
    @media (max-width: 992px) {
      margin: 38px auto 75px;
    }
    @media (max-width: 768px) {
      width: 480px;
    }
    @media (max-width: 544px) {
      display: none;
    }
  }
  &__request-access-sm {
    display: none;
    width: 232px;
    height: 116px;
    margin: 38px auto;
    flex-direction: column;
    justify-content: space-between;

    .text-section-sm {
      display: flex;
      width: 100%;
      height: 48px;
      border-radius: 50px;
      background: rgba(151, 151, 151, 0.2);
      z-index: 4;

      .text-field-sm {
        width: calc(100% - 40px);
        margin: auto;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        background: transparent;
        border: none;
        outline: none;

        ::placeholder {
          color: #9b9b9b;
        }
      }
    }
    @media (max-width: 544px) {
      display: flex;
    }
  }
  &__request-btn {
    width: 232px;
    display: block;
    line-height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(258deg, #002df0, #0014dd);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-shadow: 0 7px 14px transparent, 0 3px 6px transparent;
    box-shadow: 0 7px 14px transparent, 0 3px 6px transparent;
    -webkit-transition: -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    transition: -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    &:hover {
      color: #fff;
      opacity: 1;
      text-decoration: none;
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
  }
  &__main-btn {
    width: 232px;
    // display: block;
    display: none;
    margin: 38px auto;
    line-height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(258deg, #002df0, #0014dd);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-shadow: 0 7px 14px transparent, 0 3px 6px transparent;
    box-shadow: 0 7px 14px transparent, 0 3px 6px transparent;
    -webkit-transition: -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    transition: -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    &:hover {
      color: #fff;
      opacity: 1;
      text-decoration: none;
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
    @media (max-width: 992px) {
      margin: 38px auto 75px;
    }
  }
  &__heading {
    color: $blue;
    font-size: 42px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    &.mar-top-40 {
      margin-top: 40px;
    }
    &--fs {
      &_38 {
        font-size: 38px;
      }
    }
    @media (max-width: 769px) {
      font-size: 27px;
      line-height: 45px;
      &.mob-mar-top-69 {
        margin-top: 69px;
      }
    }
  }
  &__desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    color: $blue;
    text-align: center;
    @media (max-width: 769px) {
      font-size: 12px !important;
      line-height: 2.17;
      font-weight: 300 !important;
      &.mob-mar-top-23 {
        margin-top: 0 !important;
      }
    }
    span {
      font-weight: 500;
    }
    &.mar-top-38 {
      margin-top: 38px;
    }
    &.mar-top-16 {
      margin-top: 16px;
    }
    &--fw {
      &_medium {
        font-weight: 500;
      }
    }
    &--fs {
      &_14 {
        font-size: 14px;
      }
      &_22 {
        font-size: 22px;
      }
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    color: $blue;
    @media (max-width: 769px) {
      font-size: 12px;
      &.mob-mar-top-22 {
        margin-top: 22px;
      }
    }
  }
  &__logos-list {
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 102px;
    img {
      height: 100%;
      max-width: 100%;
    }
    @media (max-width: 992px) {
      width: 100%;
    }
    &--mob {
      margin: 35px auto 60px;
      img {
        display: block;
        max-width: 36%;
        margin: 30px auto;
      }
    }
  }
}

.mob-dropdown {
  &__logo {
    max-width: 53%;
  }
  .cr-navbar__link {
    color: $blue !important;
    font-weight: 500 !important;
    line-height: 29px;
  }
  .cr-navbar__btn {
    margin: 40px auto;
    display: block;
    width: 232px;
    color: #fff;
    background-image: linear-gradient(225deg, #002df0 0%, #0014dd 100%);
    display: block;
    text-align: center;
  }
  .dropdown-item {
    color: $blue !important;
    font-weight: 300 !important;
    margin-top: 7px;
    font-size: 14px;
  }
  .nav-item {
    &:first-of-type {
      border-bottom: 1px solid $blue;
    }
  }
  .navbar-nav {
    padding: 8px;
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }
}

ul.navbar-nav li.dropdown:hover > div.dropdown-menu {
  display: block;
}

.form {
  width: 500px;
  height: 597px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin: auto;
  display: flex;
  &__confirm {
    width: 100%;
    margin-top: 40px;
    &-input {
      margin: auto;
    }
    &-btn {
      width: 100%;
      height: 112px;
      border-radius: 10px;
      background-color: rgba(236, 187, 255, 0.45);
      display: flex;
      .button-content {
        width: 180px;
        height: 48px;
        border-radius: 25px;
        background-image: linear-gradient(to top, #002df0, #0014dd);
        margin: auto;
        .confirm-btn {
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.5px;
          text-align: center;
          color: white;
          background-image: linear-gradient(to top, #002df0, #0014dd);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          .icon-field {
            display: flex;
            width: 28px;
            height: 24px;
            &-svg {
              width: 20px;
              fill: white;
              margin: auto;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
  &__success {
    width: 100%;
    height: 100%;
    background-position-x: -10px;
    background-position-y: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: asset-data-url('index-new/background-logo-fill.png') no-repeat;
    background-position: center center;
    &__content {
      width: 365px;
      height: 206px;
      font-family: Poppins;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      color: #0014dd;
      &-first-text {
        height: 70px;
        margin-bottom: 70px;
      }
      &-second-text {
        height: 65px;
        font-size: 22px;
        font-weight: normal;
      }
    }
  }
  @media (max-width: 580px){
    width: 343px;

  }
}

.input-item {
  width: 384px;
  height: 49px;
  border-radius: 5px;
  border: solid 0.5px #979797;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-field {
    display: flex;
    width: 60px;
    height: 24px;
    &-svg {
      width: 20px;
      fill: #0014dd;
      margin: auto;
      margin-left: 16px;
    }
  }
  .input-field {
    display: flex;
    width: calc(100% - 60px);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    background: transparent;
    border: none;
    outline: none;
    margin-right: 25px;

    ::placeholder {
      color: #9b9b9b;
    }
  }
  @media (max-width: 580px){
    width: 262px;
  }
}

.request_back {
  position: absolute;
  z-index: 1;
  &-pos-bottom {
    bottom: -80px;
  }
}
