@import '../fonts';

.admin-body .sumome-share-client-wrapper{
  display: none ;
}
// -------------- ABOUT -----------------------------
// -------------- SERVICES -----------------------------
// -------------- HOME -----------------------------
// -------------- NEWSLETTER -----------------------------
// -------------- BLOG -----------------------------
article .article__title {
    position: absolute !important;
    z-index: 10;
    color: white;
    top: 12em !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    transform: translateY(-50%);
    padding: 0px 40px;
    @media (max-width: 768px) {
        transform: translateY(-58%);
    }
    @media (max-width: 520px) {
        transform: translateY(-127%);
        h2 {
            font-size: 1em;
        }
    }
}

article .article__title a
,.article__title a h2 {
    color: white;
}
// -------------- SEARCH -----------------------------

.description-about .about-img {
    text-align: center;
    margin: 20px;
}
.modal-body {
    white-space: pre;
}
.search {
    &__submit {
        margin: 0 !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        border-color: #ececec !important;
    }
    &__input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
.ck_form_container {
  display: none;
}

.form {
  &__success {
    font-size: 16px;
    letter-spacing: 0.2px;
    display: none;
    color: #5075dd;
    font-family: 'HelveticaNeueCyr Bold';
    transform: translateY(104px);
  }
}

.logo-row {
  margin-top: 40px
}

.img-link {
  height: 100%;
  width: 100%;
  opacity: 0;
}


.company-img {
  padding: 9px;
  max-width: 100%;
  max-height: 70px;
  &.opt {
    margin-top: 10px;
  }
}

.img-container:first-child {
  margin-left: 8.33333333%;
}

.main-container {
  overflow: hidden;
}

.hero-draft {
  position: relative;
  @media (max-width: 600px) {
    padding-top: 0 !important;
    margin-top: -21px;
  }
  &__tools-list {
    width: 77%;
    margin: auto;
  }
  &__tools-item {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3D3A67;
    width: 16%;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    &._active {
      color: #71E3B4;
    }
  }
  &__tools-section {
    display: none; 
    text-align: center;
    margin: 60px auto;
    &._active {
      display: table;
    }
  }
  &__tool-picked {
    display: inline-block;
    padding: 11px;
  }
  &__tool-img {
    width: 100%;
  }
  &__select-line {
    height: 6px;
    width: 79%;
    margin: 0 auto;
    display: block;
    background-color: #F3F3F3;
    border-radius: 3px;
    position: relative;
  }
  &__selected-line {
    height: 6px;
    left: 0;
    width: 18%;
    margin: 0 auto;
    display: block;
    background-color: #71E3B4;
    border-radius: 3px;
    position: absolute;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    &._1 {
      left: 0;
    }
    &._2 {
      left: 16%;
    }
    &._3 {
      left: 32%
    }
    &._4 {
      left: 48%
    }
    &._5 {
      left: 64%
    }
    &._6 {
      left: 82%
    }
  }
  &__container {
    position: relative;
    height: 100%;
  }
  &__gui {
    margin: 123px auto;
  }
  &__main-title {
    margin: 50px auto;
    color: #5075DD;
    text-align: center;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  &__btn-broad {
    border-radius: 3px;
    background-color: #5075DD;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: 'HelveticaNeueCyr Bold';
    padding: 17px 44px;
    text-transform: uppercase;
    &:hover {
      color: #fff;
      opacity: 0.9
    }
  }
  &__main-info {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #464272;
  }
  &__main-center {
    display: block;
    margin: 50px auto;
    width: 41%;
  }
  &._has-bg {
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 0 !important;
    }
  }
  &__main-block {
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .particles {
    &_left {
      position: absolute;
      left: -14%;
      top: 24%;
      width: 40%;
    }
    &_right {
      position: absolute;
      right: -14%;
      top: 24%;
      width: 40%;
    }
  }
  #ck_emailField {
    border: 1px solid #C5C5C5 !important;
  }
  input[type] {
    border-radius: 3px !important;
  }
  input:not([class*='col-']), select:not([class*='col-']), .input-select:not([class*='col-']), textarea:not([class*='col-']), button[type="submit"]:not([class*='col-']) {
    height: 58px;
  }
  &__email-field {
    background-color: #fff !important;
    font-size: 12px !important;
    float: left;
    width: 63% !important;
    margin: 0 !important;
    padding: 0 27px !important;
    font-family: 'HelveticaNeueCyr Bold';
    @media (max-width: 768px) { 
      width: 100% !important;
      float: none !important;
      display: block !important;
    } 
    &::-webkit-input-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
    &::-moz-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
    &:-ms-input-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
    &:-moz-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
  }
  &__input-subtitle {
    font-size: 10px;
    color: #3D3A67;
    transform: translateX(-103px);
    display: block;
    letter-spacing: 0.7px;
    height: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    @media (max-width: 1200px) {
      transform: translateX(0px);
    }
  }
  &__btn {
    float: none;
    color: #fff;
    width: 33% !important;
    font-size: 12px !important;
    margin: 0 !important;
    float: right;
    font-family: 'HelveticaNeueCyr Bold';
    letter-spacing: 0.6px !important;
    &._color_blue {
      background: #5075DD;
      &:hover, &:focus {
        color: #fff !important;
        border-color: #d3d3d3;
      }
    }
    @media (max-width: 768px) { 
      width: 100% !important;
      float: none !important;
      display: block !important;
      margin-top: 10px !important;
    } 
  }
  &__title {
      color: #5075DD;
      text-transform: uppercase;
      text-align: center;
      font-size: 39px;
      font-family: 'Couture Bold';
      @media (max-width: 768px) { 
        font-size: 30px;
      } 
  }
  &__subtitle {
    margin: 28px 0 12px 0;
    color: #464272;
    text-align: center;
    font-size: 16px;
    font-family: 'HelveticaNeueCyr Bold';
    @media (max-width: 768px) { 
      margin: 0 0 17px 0;
    } 
  }
  &__desc {
    font-size: 16px;
    color: #36315F;
    font-family: 'Lato', sans-serif;
    line-height: 27px;
    font-weight: 300;
  }
  &__form {
    width: 64%;
    display: block;
    margin: 23px auto;
    @media (max-width: 768px) { 
      margin: 0 auto;
    } 
  }
}

.hero-draft-lower {
  height: 82px;
  padding: 0 !important;
  background-color: #fff;
  &__container {
    height: 100%;
  }
  &__text {
    text-align: center;
    color: #3D3A67;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 10px;
    line-height: 82px;
  }
}


.hero {
  height: 619px;
  @media (min-width: 1440px) {
    height: 751px;
  }
  @media (min-width: 1680px) {
    height: 904px;
  }
  @media (min-width: 2560px) {
    height: 1288px;
  }
  @media (max-width: 600px) {
    padding-top: 0 !important;
    margin-top: -21px;
  }
  &__container {
    position: relative;
    height: 100%;
  }
  &._has-bg {
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 0 !important;
    }
  }
  &__main-block {
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 446px;
    margin: auto;
  }
  .particles {
    &_left {
      position: absolute;
      left: -9%;
      bottom: 29px;
      width: 31%;
    }
    &_right {
      position: absolute;
      right: -9%;
      bottom: 29px;
      width: 31%;
    }
  }
  #ck_emailField {
    border: 1px solid #C5C5C5 !important;
  }
  input[type] {
    border-radius: 3px !important;
  }
  input:not([class*='col-']), select:not([class*='col-']), .input-select:not([class*='col-']), textarea:not([class*='col-']), button[type="submit"]:not([class*='col-']) {
    height: 58px;
  }
  &__email-field {
    background-color: #fff !important;
    font-size: 12px !important;
    float: left;
    width: 63% !important;
    margin: 0 !important;
    padding: 0 27px !important;
    font-family: 'HelveticaNeueCyr Bold';
    @media (max-width: 768px) { 
      width: 100% !important;
      float: none !important;
      display: block !important;
    } 
    &::-webkit-input-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
    &::-moz-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
    &:-ms-input-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
    &:-moz-placeholder {
      font-family: 'HelveticaNeueCyr Thin Italic';
    }
  }
  &__input-subtitle {
    font-size: 10px;
    color: #3D3A67;
    transform: translateX(-103px);
    display: block;
    letter-spacing: 0.7px;
    height: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    @media (max-width: 1200px) {
      transform: translateX(0px);
    }
  }
  &__btn {
    float: none;
    color: #fff;
    width: 33% !important;
    font-size: 12px !important;
    margin: 0 !important;
    float: right;
    font-family: 'HelveticaNeueCyr Bold';
    letter-spacing: 0.6px !important;
    &._color_blue {
      background: #5075DD;
      &:hover, &:focus {
        color: #fff !important;
        border-color: #d3d3d3;
      }
    }
    @media (max-width: 768px) { 
      width: 100% !important;
      float: none !important;
      display: block !important;
      margin-top: 10px !important;
    } 
  }
  &__title {
      color: #5075DD;
      text-transform: uppercase;
      text-align: center;
      font-size: 39px;
      font-family: 'Couture Bold';
      @media (max-width: 768px) { 
        font-size: 30px;
      } 
  }
  &__subtitle {
    margin: 68px 0 48px 0;
    color: #464272;
    text-align: center;
    font-size: 16px;
    font-family: 'HelveticaNeueCyr Bold';
    @media (max-width: 768px) { 
      margin: 0 0 17px 0;
    } 
  }
  &__desc {
    font-size: 16px;
    color: #36315F;
    font-family: 'Lato', sans-serif;
    line-height: 27px;
    font-weight: 300;
  }
  &__form {
    width: 64%;
    display: block;
    margin: 80px auto;
    @media (max-width: 768px) { 
      margin: 0 auto;
    } 
  }
}

.hero-lower {
  height: 82px;
  padding: 0 !important;
  background-color: #fff;
  &__container {
    height: 100%;
  }
  &__text {
    text-align: center;
    color: #3D3A67;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 10px;
    line-height: 82px;
  }
}

#search-form {
  margin-top: 50px;
}

body {
  background: #f0f0f0;
}

.fixed-width {
  background: #fff;
  @media (min-width: 1440px) {
    width: 1440px;
    margin: 0 auto;
  }
}

.line-break {
  @media (min-width: 700px) {
    display: block;
  }
}

.section {
  &__heading {
    font-size: 39px;
    color: #466ad8;
    &._font_couture {
      font-family: 'Couture Bold';
    }
  }
  &__subheading {
    color: #3D3A67;
    font-size: 20px;
    &._font_lato {
      font-family: 'Lato';
      font-weight: 400;
    }
  }
}
