<% content_for :title, "About"  %>
<% content_for :description, "Maxime Salomon is the founder of Croissant." %>
<% content_for :ogtitle, "About" %>
<% content_for :ogdescription, "Maxime Salomon is the founder of Croissant." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>
<% content_for :css do %>

<%= stylesheet_link_tag "bootstrap", "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages" %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>

<div class="about">
	<%= render "shared/stack_navbar" %>
		<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="hero about-hero">
    					<div class="col-md-4">
    						<img src="http://maximesalomon.com/wp-content/uploads/2015/02/maxime-salomon.jpg" alt="Maxime Salomon" style="width:300px; height:300px;">
    					</div>
    					<div class="col-md-8">
    						<div class="description-about">
    							<h1>Maxime Salomon</h1>
    							<h2>Founder - Croissant</h2>
    							<p>I am an innovative growth marketer with a deep understanding of marketing, product, data & technology. I have experience working for companies backed by Y-Combinator, 500 startups, Point Nine Capital and Alven Capital. I help B2B SaaS startups scale their customer acquisition through data driven strategies.</p>
    							<p>Croissant is a solo B2B SaaS Marketing & Growth consultancy that uses a data-driven approach to customer acquisition.</p>
    							<p>You can get in touch with me at <a href="mailto:maxime@growthbakery.com">maxime@growthbakery.com</a></p>

    							<img class="about-img" src="https://www.ycombinator.com/images/ycombinator-logo-fb889e2e.png" atl="Y-Combinator" style="width:70px; height:70px;">
    							<img class="about-img" src="https://www.digitalocean.com/assets/media/hatch/partners/pointNine-30bc10b2.svg" style=" height:70px;">
    							<img class="about-img" src="http://www.frenchweb.fr/wp-content/uploads/2013/12/alven-capital.jpg" atl="Alven Capital" style="height:70px;">
							</div>
    					</div>

    				</div>
    			</div><!-- /End col -->
    		</div><!-- /End row -->
    	</div>
			<%= render "shared/stack_footer" %>
</div>
<% content_for :js do %>
<%= javascript_include_tag "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts"  %>
<% end %>
<script type="text/javascript">
	analytics.page('About', {
		path: '/about',
        url: "https://croissant.io/about"
	});
</script>
