<section class="about">
	<header>
		<nav class="navbar">
		  <div class="container">
		  	<div class="navbar-header">
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
		       <span class="sr-only">Toggle navigation</span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">The Growth Bakery</a>
		    </div>
			<div class="collapse navbar-collapse" id="nav-collapse">
			  <ul class="nav navbar-nav navbar-right">
					<li><a href="/about">About</a></li>
					<li><a href="mailto:maxime@growthbakery.com">Contact</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
	</header>
		<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="hero">
    					<div class="col-md-4">
    						<img src="http://maximesalomon.com/wp-content/uploads/2015/02/maxime-salomon.jpg" alt="Maxime Salomon" style="width:300px; height:300px;">
    					</div>
    					<div class="col-md-8">
    						<div class="description-about">
    							<h1>Maxime Salomon</h1>
    							<h2>Founder - The Growth Bakery</h2>
    							</br>
    							<p>I am an innovative growth marketer with a deep understanding of marketing, product, data & technology. I have experience working for companies backed by Y-Combinator, 500 startups, Point Nine Capital and Alven Capital. I help B2B SaaS startups scale their customer acquisition through data driven strategies.</p></br>
    							<p>The Growth bakery is a solo B2B SaaS Marketing & Growth consultancy that uses a data-driven approach to customer acquisition.</p></br>
    							<p>You can get in touch with me at <a href="mailto:maxime@growthbakery.com">maxime@growthbakery.com</a></p></br>
    							
    							<img src="https://www.ycombinator.com/images/ycombinator-logo-fb889e2e.png" atl="Y-Combinator" style="width:70px; height:70px;">
    							<img src="https://pbs.twimg.com/profile_images/760219502910910465/2w8KblB7.jpg" atl="500 Startups" style="width:70px; height:70px;">
    							<img src="https://www.digitalocean.com/assets/media/hatch/partners/pointNine-30bc10b2.svg" style=" height:70px;">
    							<img src="http://www.frenchweb.fr/wp-content/uploads/2013/12/alven-capital.jpg" atl="Alven Capital" style="height:70px;">
							</div>
    					</div>

    				</div>
    			</div><!-- /End col -->
    		</div><!-- /End row -->
    	</div>
</section>