<head>
	<title>Consulting Marketing pour startups - The Growth Bakery</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="Collectif de Marketeurs français - Consulting & Recrutement pour startups">
    <meta name="author" content="The Growth Bakery">

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN">
    <meta name="robots" content="index,follow">

   <%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
	<div class="main-wrapper">
		<section>
			<header>
				<nav class="navbar">
				  <div class="container">
				  	<div class="navbar-header">
				  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
				       <span class="sr-only">Toggle navigation</span>
				       <span class="icon-bar"></span>
				       <span class="icon-bar"></span>
				       <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="/">The Growth Bakery</a>
				    </div>
					<div class="collapse navbar-collapse" id="nav-collapse">
					  <ul class="nav navbar-nav navbar-right">
					  	<li><a href="./newsletter">TGB Weekly</a></li>
						<li><a href="./consulting">Consulting</a></li>
						<li><a href="./recrutement">Recrutement</a></li>
						<li><a href="./team">Team</a></li>
						<li><a href="mailto:hello@growthbakery.com">Nous contacter</a></li>
					  </ul>
					</div>
				  </div>
				</nav>
			</header>
		</section>
		</section>
		<section class="consulting">
	    <div class="container">
	          <div class="row">
	              <!-- Section Header Title -->
	              <div class="col-xs-12">
	                  <h2><a name="consulting"></a>Consulting</h2>
	                  <h4 class="large">Implémentez les best-practices des startups de la Silicon Valley</H4>
	              </div>
	          </div>
	          <!-- Features with Icons -->
	          <div class="row">
	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Analytics</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Marketing Strategy</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit facilis expedita, aliquam tempore quam nulla quo alias magni.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Growth Process</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quis vitae voluptate nostrum reiciendis natus voluptas.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email marketing</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ab quo voluptatum maiores omnis distinctio ea ducimus adipisci.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Conversion Optimization</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptates vel error, natus quaerat soluta temporibus.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Search Engine Optimization</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aperiam, consequuntur voluptate laborum recusandae.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Mobile Marketing</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-download" aria-hidden="true"></span> App Store optimization</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Product Strategy</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Product Marketing</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Launch Strategy</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>

	              <div class="col-md-4 consulting-box">
	                  <h4><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Paid Marketing</h4>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae voluptate omnis vitae, ad assumenda?.</p>
	              </div>
	                
	            </div><!-- /End Row -->
	    </div><!-- /End Container -->
		</section>
		<section class="back-nl">
	    <div class="container">
	      <div class="row">
	          <div class="col-md-8 col-md-offset-2">
	              <h3>Et si vous accélériez votre croissance?</h3>
	          </div>
	      </div>

	      <div class="row">
	          <!-- Signup Form -->
	          <div class="col-md-12 text-center">
	              <a class="btn btn-success" href="./newsletter">De la croissance dans votre boîte mail</a>
	          </div>
	         
		      </div><!-- /End Row -->
		  </div><!-- /End Wrapper -->
		</section>
	</div>
</body>