<% content_for :title, "Croissant - Growth Recipes for SaaS"  %>
<% content_for :description, "Croissant helps SaaS companies build their Growth Stack by implementing tools such as Hull, Segment, Amplitude, Hotjar, Optimizely & many more." %>
<% content_for :ogtitle, "Croissant - Growth Recipes for SaaS" %>
<% content_for :ogdescription, "Croissant helps SaaS companies build their Growth Stack by implementing tools such as Hull, Segment, Amplitude, Hotjar, Optimizely & many more." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('Croissant-OG.png') %>
<%= content_for :css do %>
  <%= stylesheet_link_tag  "bootstrap", "models/articles",  "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages"  %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>
<%= render "shared/stack_navbar" %>
<div class="main-container">
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-3">
          <h1 class="title-home section__title">Growth Recipes for SaaS</h1>
          <p class="lead section__desc">
          "Growth Recipes" <strong>=</strong> Tools Implementation <strong>+</strong> Growth Process
          </p>
          <button type="submit" class="btn section__btn _color_grad-blue type--uppercase js--open-popover col-md-5 col-sm-7 col-xs-12">Explore Growth Recipes</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-11 section__popover _shadow_light js--home-popover">
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://forms.convertkit.com/landing_pages/286668/subscribe" data-remote="true">
      <h3>Coming Soon</h3>
        <div class="form-group ck_control_group ck_email_field_group">
            <label class="hidden ck_label" for="ck_emailField" >Email Address</label>
            <input placeholder="Enter your email to be notified..." name="email" class="form-control ck_email_address" id="ck_emailField" type="email" required="" />
        </div>

        <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
          <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
        </div>

        <div>
          <input id="ck_subscribe_button" class="subscribe_button ck_subscribe_button btn fields btn section__btn _color_grad-blue type--uppercase" type="submit" name="submit" value="Let Me Know" data-drip-attribute="sign-up-button" />
        </div>
        <script async id="_ck_286668" src="https://forms.convertkit.com/286668?v=6"></script>
    </form>
  </div>
</section>
</div>
<% content_for :js do %>
<%= javascript_include_tag "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts", "script"  %>
<script type="text/javascript">
  function Subscribed() {
  	analytics.track('Subscribed');
  	window.optimizely.push(["trackEvent", "Subscribed"]);
  }

  analytics.page('Home', {
    path: "/"
  });

  openPopover()
</script>
<% end %>
