<head>
	<title>The Growth Bakery</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="The Growth bakery est un collectif de marketeurs français composé de Maxime Salomon, Adrien Montcoudiol et Bruno Correia qui partagent leurs découvertes sur le marketing & Growth pour startups.">
    <meta name="author" content="The Growth Bakery">

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="robots" content="index, follow">
    
    <meta property="og:title" content="The Growth Bakery" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com" />
    <meta property="og:description" content="The Growth bakery est un collectif de marketeurs français composé de Maxime Salomon, Adrien Montcoudiol et Bruno Correia qui partagent leurs découvertes sur le marketing & Growth pour startups." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<meta property="og:image" content="http://growthbakery.com/assets/newsletters/19-juillet-5ae82b743fd92c9e43c9a678bed66176.png" />

</head>

<body>

		<%= render "layouts/home" %>

	<script type="text/javascript">
		analytics.page('Home');
	</script>
</body>