<div class="page-wrapper">
    <!-- header-6 -->
    <header class="header-6">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-6 col-sm-offset-3 " style="align: center">
                    <div>
                        <%= link_to image_tag "logo.png" %>
                    </br>
                    </br>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="header-6-sub">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                </br>
                </br>
                    <h3>The finest brain food for startup growth</h3>
                    <div class="row">
                        <p class="lead col-sm-10 col-sm-offset-1">
                            Hack your startup growth! Receive our weekly curation of the best resources, for free:
                        </p>
                        </br>
                        </br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                        </br>
                        <form>
                            <div class="clearfix">
                                <input type="text" class="form-control" placeholder="Votre E-mail">
                            </br>
                                <button type="submit" class="btn btn-primary">S'abonner</button>
                            </div>
                        </form>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>