<head>
	<title>Merci - The Growth Bakery</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="The Growth bakery est un collectif de marketeurs français composé de Maxime Salomon, Adrien Montcoudiol et Bruno Correia qui partagent leurs découvertes sur le marketing & Growth pour startups.">
    <meta name="author" content="The Growth Bakery">

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN">
    <meta name="robots" content="noindex, nofollow">

</head>

<body>
<section class="merci">
	<header>
		<nav class="navbar">
		  <div class="container">
		  	<div class="navbar-header">
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
		       <span class="sr-only">Toggle navigation</span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">The Growth Bakery</a>
		    </div>
		  </div>
		</nav>
	</header>
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12 text-center">
	    			<div class="hero">
	    				<h1>Merci pour votre confiance !</h1>
	    			</div>
	    		</div><!-- /End col -->
	    	</div><!-- /End row -->
	    </div>
</section>

<script type="text/javascript">
	// redirect to google after 3 seconds
window.setTimeout(function() {
    window.location.href = 'http://growthbakery.com/';
}, 3000);

</script>

<!-- Facebook Conversion Code for NL Subscribers -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6025811720422', {'value':'0.00','currency':'EUR'}]);
analytics.page('Thank You');
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025811720422&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>

</body>