<head>
	<title>Consulting Marketing pour startups - The Growth Bakery</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="Collectif de Marketeurs français - Consulting & Recrutement pour startups">
    <meta name="author" content="The Growth Bakery">

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN">
    <meta name="robots" content="index,follow">

   <%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
	<div class="main-wrapper">
		<section>
			<header>
				<nav class="navbar">
				  <div class="container">
				  	<div class="navbar-header">
				  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
				       <span class="sr-only">Toggle navigation</span>
				       <span class="icon-bar"></span>
				       <span class="icon-bar"></span>
				       <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="/">The Growth Bakery</a>
				    </div>
					<div class="collapse navbar-collapse" id="nav-collapse">
					  <ul class="nav navbar-nav navbar-right">
					  	<li><a href="./newsletter">TGB Weekly</a></li>
						<li><a href="./consulting">Consulting</a></li>
						<li><a href="./recrutement">Recrutement</a></li>
						<li><a href="./team">Team</a></li>
						<li><a href="mailto:hello@growthbakery.com">Nous contacter</a></li>
					  </ul>
					</div>
				  </div>
				</nav>
			</header>
		</section>
		</section>
		<section class="recrutement">
	      <div class="container">
	          <!-- Padding -->
	          <div class="wrapper-lg">
	              <div class="row">
	                  <!-- Section Header Title -->
	                  <div class="col-xs-12">
	                      <h2><a name="recrutement"></a>Recrutement</h2>
	                      <p class="large">Trouvez votre futur marketeur ou trouvez la startup qui vous correspond</p>
	                  </div>
	              </div>
	              <!-- Three Main Features with Icons -->
	              <div class="row">
	                  <div class="col-sm-6 ">
	                      <div class="icon-lg">
	                          <i class="icon icon-mobile"></i>
	                      </div>
	                      <h4>Pour les startups:</h4>
	                      <p>Optio dolores expedita unde vel laudantium enim nisi eos distinctio, rem. Repellat repudiandae quos laborum magni. Optio dolores expedita unde vel laudantium enim nisi eos distinctio, rem. Repellat repudiandae quos laborum magni. Optio dolores expedita unde vel laudantium enim nisi eos distinctio, rem. Repellat repudiandae quos laborum magni.</p>
	                  </div>
	                  <div class="col-sm-6">
	                      <div class="icon-lg">
	                          <i class="icon icon-browser"></i>
	                      </div>
	                      <h4>Pour les marketeurs:</h4>
	                      <p>Praesentium reprehenderit quae, sequi deserunt laboriosam velit necessitatibus nulla ea optio, quis nam pariatur. Optio dolores expedita unde vel laudantium enim nisi eos distinctio, rem. Repellat repudiandae quos laborum magni. Optio dolores expedita unde vel laudantium enim nisi eos distinctio, rem. Repellat repudiandae quos laborum magni.</p>  
	                  </div>
	              </div><!-- /End Row -->
	          </div><!-- /End Wrapper -->
	      </div><!-- /End Container -->
	  </section>
		<section class="back-nl">
	    <div class="container">
	      <div class="row">
	          <div class="col-md-8 col-md-offset-2">
	              <h3>Et si vous accélériez votre croissance?</h3>
	          </div>
	      </div>

	      <div class="row">
	          <!-- Signup Form -->
	          <div class="col-md-12 text-center">
	              <a class="btn btn-success" href="./newsletter">De la croissance dans votre boîte mail</a>
	          </div>
	         
		      </div><!-- /End Row -->
		  </div><!-- /End Wrapper -->
		</section>
	</div>
</body>