<% content_for :title, "Service"  %>
<% content_for :description, "Description for services" %>
<% content_for :ogtitle, "Services" %>
<% content_for :ogdescription, "Description for services" %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>

<% content_for :css do %>
<%= stylesheet_link_tag "bootstrap", "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages" %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>


<div class="services">
	<%= render "shared/stack_navbar" %>
		<div class="container">
    		<div class="row">
    			<div class="col-md-12">
					<div class="col-md-6">
						<div class="panel">
							<div class="text-panel">
								<h2>Growth</h2>
								<p>I help companies with customer acquisition by implementing growth processes, testing new acquisition channels and optimizing them.</p>
							</div>
							<div class="input-panel">
								<script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>

		    					<!--  Form starts here  -->
							    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/164786/subscribe" onsubmit="Subscribed()" data-remote="true">
							      <input type="hidden"value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>

							      <input type="hidden" name="id" value="164786" id="landing_page_id"></input>
		          					<div class= "col-md-1"></div>
		          					<div class="ck_control_group ck_email_field_group col-md-6">
		          						<input type="email" style="border-color:#2C96FB" class="form-control" name="email" class="ck_email_address" id="ck_emailField" autocomplete="on" placeholder="Work email" required>
							      	</div>
							      	<div class= "col-md-5">
							      		<input type="submit" value="One Pager" name="subscribed" id="ck_subscribe_button" class="btn btn-lg btn-success subscribe_button ck_subscribe_button">
							      	</div>
							    </form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel">
							<div class="text-panel">
								<h2>Analytics</h2>
		    					<p>I help companies understand their customers by defining the metrics that matter for their business and implementing user oriented analytics tools.</p>
		    				</div>
		    				<div class="input-panel">
								<script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

		    					<!--  Form starts here  -->
							    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3255/subscribe" onsubmit="Subscribed()" data-remote="true">
							      <input type="hidden"  value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>

							      <input type="hidden" name="id" value="3255" id="landing_page_id"></input>
		          					<div class= "col-md-1"></div>
		          					<div class="ck_control_group ck_email_field_group col-md-6">
		          						<input type="email" style="border-color:#2C96FB" class="form-control" name="email" class="ck_email_address" id="ck_emailField" autocomplete="on" placeholder="Work email" required>
							      	</div>
							      	<div class= "col-md-4">
							      		<input type="submit" value="One Pager" name="subscribed" id="ck_subscribe_button" class="btn btn-lg btn-success subscribe_button ck_subscribe_button">
							      	</div>
							      	<div class= "col-md-1"></div>
							    </form>
							</div>
    					</div>
    				</div>
				</div>

				<div class="col-md-12">
					<div class="col-md-6">
						<div class="panel">
							<div class="text-panel">
								<h2>Customer Data Automation</h2>
								<p>I help companies automate their customer data management by implementing tech driven strategies using tools like Clearbit & Hull.</p>
							</div>
							<div class="input-panel">
								<script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

		    					<!--  Form starts here  -->
							    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3255/subscribe" onsubmit="Subscribed()" data-remote="true">
							      <input type="hidden"  value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>

							      <input type="hidden" name="id" value="3255" id="landing_page_id"></input>
		          					<div class= "col-md-1"></div>
		          					<div class="ck_control_group ck_email_field_group col-md-6">
		          						<input type="email" style="border-color:#2C96FB" class="form-control" name="email" class="ck_email_address" id="ck_emailField" autocomplete="on" placeholder="Work email" required>
							      	</div>
							      	<div class= "col-md-4">
							      		<input type="submit" value="One Pager" name="subscribed" id="ck_subscribe_button" class="btn btn-lg btn-success subscribe_button ck_subscribe_button">
							      	</div>
							      	<div class= "col-md-1"></div>
							    </form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel">
							<div class="text-panel">
								<h2>Product Marketing</h2>
								<p>I help companies identify their ideal customer and build a story around it by working on the website copy or creating sales enabling content.</p>
							</div>
							<div class="input-panel">
								<script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

		    					<!--  Form starts here  -->
							    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3255/subscribe" onsubmit="Subscribed()" data-remote="true">
							      <input type="hidden"  value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>

							      <input type="hidden" name="id" value="3255" id="landing_page_id"></input>
							      	<div class= "col-md-1"></div>
		          					<div class="ck_control_group ck_email_field_group col-md-6">
		          						<input type="email" style="border-color:#2C96FB" class="form-control" name="email" class="ck_email_address" id="ck_emailField" autocomplete="on" placeholder="Work email" required>
							      	</div>
							      	<div class= "col-md-4">
							      		<input type="submit" value="One Pager" name="subscribed" id="ck_subscribe_button" class="btn btn-lg btn-success subscribe_button ck_subscribe_button">
							      	</div>
							      	<div class= "col-md-1"></div>
							    </form>
							</div>
    					</div>
    				</div>
				</div>
    		</div><!-- /End row -->
    	</div>
</div>
