<% content_for :title, "Service"  %>
<% content_for :description, "Maxime Salomon is the founder of Croissant." %>
<% content_for :ogtitle, "Services" %>
<% content_for :ogdescription, "Maxime Salomon is the founder of Croissant." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>
<% content_for :body_class, "blue" %>
<%= content_for :css do %>
  <%= stylesheet_link_tag  "bootstrap", "models/articles",  "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/_services"  %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>
<%= render "shared/stack_navbar" %>
<div class="main-container">
  <section class="text-center _no-pad">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-12">
					<h3 class='title_thin_white'>
						Croissant Services
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<table class="table_border_white_bg_transparent _screen_normal">
						<thead>
							<tr>
								<th class="table__main-head" colspan="3">Consulting</th>
							</tr>
						</thead>
						 <tbody>
							<tr>
								<th class="table__cell-equal">Growth</th>
								<th class="table__cell-equal">Analytics</th>
								<th class="table__cell-equal">Customer Data Automation</th>
							</tr>
							<tr>
								<td valign="top" class="table__cell-equal">I help companies with customer acquisition by implementing growth processes, testing new acquisition channels and optimizing them.</td>
								<td valign="top" class="table__cell-equal">I help companies understand their customers by defining the metrics that matter for their business and implementing user oriented analytics tools like Google Analytics, Amplitude, Hotjar, etc.</td>
								<td valign="top" class="table__cell-equal">I help companies automate their customer data management by implementing tech driven strategies using tools like Clearbit & Hull.</td>
							</tr>
						 <tbody>
					</table>
					<table class="table_border_white_bg_transparent _screen_mobile">
						<thead>
							<tr>
								<th class="table__main-head" colspan="1">Consulting</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="table__cell-equal">Growth</th>
							</tr>
							<tr>
								<td valign="top" class="table__cell-equal">I help companies with customer acquisition by implementing growth processes, testing new acquisition channels and optimizing them.</td>
							</tr>
							<tr>
								<th class="table__cell-equal">Analytics</th>
							</tr>
							<tr>
								<td valign="top" class="table__cell-equal">I help companies understand their customers by defining the metrics that matter for their business and implementing user oriented analytics tools like Google Analytics, Amplitude, Hotjar, etc.</td>
							</tr>
							<tr>
								<th class="table__cell-equal">Customer Data Automation</th>
							</tr>
							<tr>
								<td valign="top" class="table__cell-equal">I help companies automate their customer data management by implementing tech driven strategies using tools like Clearbit & Hull.</td>
							</tr>
						 <tbody>
					</table>
				</div>
			</div>			
			<div class="row">
				<div class ="col-sm-11 col-sm-offset-1 col-md-9 col-sm-offset-3">
					<form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/250090/subscribe" data-remote="true">
					<input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
					<input type="hidden" name="id" value="250090" id="landing_page_id">
					<input type="hidden" name="ck_form_recaptcha" value="" id="ck_form_recaptcha">
				<div class="ck_control_group ck_email_field_group col-sm-8">
					<!-- <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> -->
					<input type="email" class="validate-required validate-email form-control ck_email_address" name="email"id="ck_emailField" autocomplete="on" placeholder="Request your Free 30min Call" required>
				</div>
				<div class="col-sm-3">
					<!-- <input type="submit" value="Subscribe"   class="col-md-12 btn btn-lg btn-success subscribe_button ck_subscribe_button"> -->
					  <button type="submit" name="subscribed" id="ck_subscribe_button"  class="subscribe_button ck_subscribe_button btn btn--light-green _pad">Free 30min Call</button>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
				</div>
				</form>
				<!-- /End hero-section -->
				<div class="ck_errorArea">
				<div id="ck_error_msg" style="display:none">
					<p>Sorry, there was an error. Please try again to subscribe.</p>
				</div>
				</div>
					</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
</div>
<% content_for :js do %>
<%= javascript_include_tag "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts", "script"  %>
<script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
<script type="text/javascript">
  analytics.page('Services');
</script>
<% end %>
