<head>
    <title>Merci de valider votre abonnement</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="author" content="The Growth Bakery">

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN">
    <meta name="robots" content="no-follow">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
    <div class="main-wrapper">
        <section class="home">
                <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="hero">
                            <h1>Merci de valider votre abonnement en cliquant sur l'email d'activation qui vous a été envoyé.</h1>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                        </div><!-- /End hero-section -->
                </div><!-- /End col -->
              </div><!-- /End row -->
        </section>
    </div>
</body>