<div class="main-wrapper">
    <section class="home">
            <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="hero">
                        <h1>Merci de valider votre abonnement en cliquant sur l'email d'activation qui vous a été envoyé.</h1>
                    </div><!-- /End hero-section -->
            </div><!-- /End col -->
          </div><!-- /End row -->
    </section>
</div>