<% content_for :title, "Thanks"  %>
<% content_for :description, "Description for thanks" %>
<% content_for :ogtitle, "Thanks" %>
<% content_for :ogdescription, "Description for thanks" %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>


<section class="thanks">
	<%= render "shared/navbar" %>
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12 text-center">
	    			<div class="hero">
	    				<h1>You are subscribed! Thanks</h1>
	    				</br>
	    				<h2>You will receive the next newsletter on friday. Have a great day - Maxime</h2>
	    			</div>
	    		</div><!-- /End col -->
	    	</div><!-- /End row -->
	    </div>
</section>

<!-- Facebook Conversion Code for NL Subscribers -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6025811720422', {'value':'0.00','currency':'EUR'}]);
analytics.page('Merci');
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025811720422&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
