<section class="header">
	<header>
		<nav class="navbar">
		  <div class="container">
		  	<div class="navbar-header">
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
		       <span class="sr-only">Toggle navigation</span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">The Growth Bakery</a>
		    </div>
			<div class="collapse navbar-collapse" id="nav-collapse">
			  	<a href="/">
			  		<ul class="nav navbar-nav navbar-right">
			  			<li><input type="submit" value="Je m'abonne à la newsletter" name="subscribe" id="mc-embedded-subscribe" class="col-md-12 btn btn-lg btn-success"></li>
			  		</ul>
			  	</a>
			</div>
		  </div>
		</nav>
	</header>
</section>