<div id="notification_container"></div>
		<% flash.each do |name, msg| %>
		     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>
<section class="home">
	<header>
		<nav class="navbar">
		  <div class="container">
		  	<div class="navbar-header">
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
		       <span class="sr-only">Toggle navigation</span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">The Growth Bakery</a>
		    </div>
			<div class="collapse navbar-collapse" id="nav-collapse">
			  <ul class="nav navbar-nav navbar-right">
					<li><a href="mailto:hello@growthbakery.com">Nous contacter</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
	</header>
		<div class="container">
    	<div class="row">
    		<div class="col-md-12 text-center">
    			<div class="hero">
    				<a name="newsletter"></a>

    				<h1>Les meilleures ressources en <strong>Marketing & Growth</strong> pour startups</h1>

    				<div class="newsletter">
    					<p>Recevez chaque semaine les meilleurs articles, outils et conseils en Marketing & Growth :</p>

    					<!-- Begin MailChimp Signup Form -->
		                <div id="mc_embed_signup">
		                  <form action="http://growthbakery.us7.list-manage.com/subscribe/post-json?u=f56d762a2a30021438035f33b&amp;id=30c2db17c3&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
		                      <div id="mc_embed_signup_scroll", class="subscribe form-group row">
		                          <div class="col-md-2"></div>
		                          <div class="col-md-5 mailchimp">
		          
		                              <input type="email" class="form-control"value="" name="EMAIL" class="email" id="mce-EMAIL" autocomplete="off" placeholder="Indiquez votre adresse email" required>
		                          </div>
		                          <div class="col-md-3">
		                              
		                              <input type="submit" value="Je m'abonne à la newsletter" name="subscribe" id="mc-embedded-subscribe" class="col-md-12 btn btn-lg btn-success">
		                          </div>
		                          <div class="col-md-2"></div>
		                        </div>
		                      </div>
		                  </form>   
						</div>
    			</div><!-- /End hero-section -->
        </div><!-- /End col -->
      </div><!-- /End row -->
</section>