<section class="references">
	<div class="container">
		<div class="row grid-md text-center">
			</br>
			<p>Nous avons collaboré avec des startups soutenues par les accélérateurs & incubateurs suivants :</p>
		</div>
	  <div class="row grid-md text-center">
	      <div class="col-md-3 col-sm-3">
	      		<a href="https://www.ycombinator.com"><%= image_tag("references/yc.gif", :alt => "Y-Combinator") %></a>
	      </div>
	      <div class="col-md-3 col-sm-3">
	      		<a href="https://www.500.co"><%= image_tag("references/500.jpg", :alt => "500 Startups") %></a>
	      </div>
	      <div class="col-md-3 col-sm-3">
	      	<a href="http://www.techstars.com"><%= image_tag("references/techstars.png", :alt => "Techstars") %></a>
	      </div>
	      <div class="col-md-3 col-sm-3">
	      	<a href="http://www.numa.paris/NUMA-ACCELERATE"><%= image_tag("references/lecamping.png", :alt => "Numa Accelerate") %></a>
	      </div>
	  </div>
	</div><!-- /End Container -->
</section>